.paginator {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 40px;
  background-color: #112;
  color: #fff;
}
.pageNumber {
  padding: 20px 25px;
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}
.pageNumber:hover {
  background-color: #223;
  transition: background-color 300ms;
}
.selectedPageNumber {
  padding: 20px 25px;
  border: none;
  background: none;
  background-color: #334;
  color: inherit;
  font: inherit;
  cursor: pointer;
  font-weight: bold;
}
